*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --BREEDTE-RATIO: 1;
  --DIEPTE-RATIO: 1;
  --hoogte: 6.25em;
  --breedte: calc(var(--hoogte) * var(--BREEDTE-RATIO));
  --diepte: calc(var(--hoogte) / var(--DIEPTE-RATIO));
  --perspective-size: 325em;
  --hoogteX3: calc(var(--hoogte) * 3);
  --breedteX3: calc(var(--breedte) * 3);
  --diepteX3: calc(var(--diepte) * 3);
}

main {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main article {
  position: relative;
  width: calc(var(--breedte) * 3);
  height: calc(var(--hoogte) * 3);
  -webkit-perspective: var(--perspective-size);
          perspective: var(--perspective-size);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate3d(1, 1, 0, 322deg);
          transform: rotate3d(1, 1, 0, 322deg);
}

main article ol {
  --rotateX: 0;
  --rotateY: 0;
  --rotateZ: 0;
  --translateX: 0;
  --translateY: 0;
  --translateZ: 0;
  -webkit-transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) rotateZ(var(--rotateZ)) translateX(var(--translateX)) translateY(var(--translateY)) translateZ(var(--translateZ));
          transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) rotateZ(var(--rotateZ)) translateX(var(--translateX)) translateY(var(--translateY)) translateZ(var(--translateZ));
  width: var(--breedte);
  height: var(--hoogte);
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: 0.4s cubic-bezier(0.64, 0.35, 0.26, 1.4);
          transform: 0.4s cubic-bezier(0.64, 0.35, 0.26, 1.4);
}

main article ol.move-y {
  -webkit-transform: rotateX(-90deg) translateY(-200px);
          transform: rotateX(-90deg) translateY(-200px);
}

main article ol.flip {
  --rotateZ: 1deg!important;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

main article ol:nth-of-type(1), main article ol:nth-of-type(10), main article ol:nth-of-type(19) {
  left: 0;
  top: 0;
}

main article ol:nth-of-type(2), main article ol:nth-of-type(11), main article ol:nth-of-type(20) {
  left: 0;
  top: var(--hoogte);
}

main article ol:nth-of-type(3), main article ol:nth-of-type(12), main article ol:nth-of-type(21) {
  left: 0;
  top: calc(var(--hoogte) * 2);
}

main article ol:nth-of-type(4), main article ol:nth-of-type(13), main article ol:nth-of-type(22) {
  left: var(--breedte);
  top: 0;
}

main article ol:nth-of-type(5), main article ol:nth-of-type(14), main article ol:nth-of-type(23) {
  left: var(--breedte);
  top: var(--hoogte);
}

main article ol:nth-of-type(6), main article ol:nth-of-type(15), main article ol:nth-of-type(24) {
  left: var(--breedte);
  top: calc(var(--hoogte) * 2);
}

main article ol:nth-of-type(7), main article ol:nth-of-type(16), main article ol:nth-of-type(25) {
  left: calc(var(--breedte) * 2);
  top: 0;
}

main article ol:nth-of-type(8), main article ol:nth-of-type(17), main article ol:nth-of-type(26) {
  left: calc(var(--breedte) * 2);
  top: var(--hoogte);
}

main article ol:nth-of-type(9), main article ol:nth-of-type(18), main article ol:nth-of-type(27) {
  left: calc(var(--breedte) * 2);
  top: calc(var(--hoogte) * 2);
}

main article ol:nth-of-type(1) li:nth-of-type(3), main article ol:nth-of-type(2) li:nth-of-type(3), main article ol:nth-of-type(3) li:nth-of-type(3), main article ol:nth-of-type(4) li:nth-of-type(3), main article ol:nth-of-type(5) li:nth-of-type(3), main article ol:nth-of-type(6) li:nth-of-type(3), main article ol:nth-of-type(7) li:nth-of-type(3), main article ol:nth-of-type(8) li:nth-of-type(3), main article ol:nth-of-type(9) li:nth-of-type(3) {
  background-color: orange;
}

main article ol:nth-of-type(10), main article ol:nth-of-type(11), main article ol:nth-of-type(12), main article ol:nth-of-type(13), main article ol:nth-of-type(14), main article ol:nth-of-type(15), main article ol:nth-of-type(16), main article ol:nth-of-type(17), main article ol:nth-of-type(18) {
  --rotateX: 0;
  --rotateY: 0;
  --rotateZ: 0;
  --translateX: 0;
  --translateY: 0;
  --translateZ: var(--diepte);
}

main article ol:nth-of-type(19), main article ol:nth-of-type(20), main article ol:nth-of-type(21), main article ol:nth-of-type(22), main article ol:nth-of-type(23), main article ol:nth-of-type(24), main article ol:nth-of-type(25), main article ol:nth-of-type(26), main article ol:nth-of-type(27), main article ol:nth-of-type(28) {
  --rotateX: 0;
  --rotateY: 0;
  --rotateZ: 0;
  --translateX: 0;
  --translateY: 0;
  --translateZ: calc(var(--diepte) * 2);
}

main article ol:nth-of-type(19) li:nth-of-type(1), main article ol:nth-of-type(20) li:nth-of-type(1), main article ol:nth-of-type(21) li:nth-of-type(1), main article ol:nth-of-type(22) li:nth-of-type(1), main article ol:nth-of-type(23) li:nth-of-type(1), main article ol:nth-of-type(24) li:nth-of-type(1), main article ol:nth-of-type(25) li:nth-of-type(1), main article ol:nth-of-type(26) li:nth-of-type(1), main article ol:nth-of-type(27) li:nth-of-type(1), main article ol:nth-of-type(28) li:nth-of-type(1) {
  background-color: red;
}

main article ol:nth-of-type(1) li:nth-of-type(2), main article ol:nth-of-type(4) li:nth-of-type(2), main article ol:nth-of-type(7) li:nth-of-type(2), main article ol:nth-of-type(10) li:nth-of-type(2), main article ol:nth-of-type(13) li:nth-of-type(2), main article ol:nth-of-type(16) li:nth-of-type(2), main article ol:nth-of-type(19) li:nth-of-type(2), main article ol:nth-of-type(22) li:nth-of-type(2), main article ol:nth-of-type(25) li:nth-of-type(2) {
  background-color: yellow;
}

main article ol:nth-of-type(1) li:nth-of-type(5), main article ol:nth-of-type(2) li:nth-of-type(5), main article ol:nth-of-type(3) li:nth-of-type(5), main article ol:nth-of-type(10) li:nth-of-type(5), main article ol:nth-of-type(11) li:nth-of-type(5), main article ol:nth-of-type(12) li:nth-of-type(5), main article ol:nth-of-type(19) li:nth-of-type(5), main article ol:nth-of-type(20) li:nth-of-type(5), main article ol:nth-of-type(21) li:nth-of-type(5) {
  background-color: blue;
}

main article ol:nth-of-type(3n) li:nth-of-type(4) {
  background-color: white;
}

main article ol:nth-of-type(7) li:nth-of-type(6), main article ol:nth-of-type(8) li:nth-of-type(6), main article ol:nth-of-type(9) li:nth-of-type(6), main article ol:nth-of-type(16) li:nth-of-type(6), main article ol:nth-of-type(17) li:nth-of-type(6), main article ol:nth-of-type(18) li:nth-of-type(6), main article ol:nth-of-type(25) li:nth-of-type(6), main article ol:nth-of-type(26) li:nth-of-type(6), main article ol:nth-of-type(27) li:nth-of-type(6) {
  background-color: green;
}

main article ol li {
  --rotateX: 0;
  --rotateY: 0;
  --rotateZ: 0;
  --translateX: 0;
  --translateY: 0;
  --translateZ: 0;
  -webkit-transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) rotateZ(var(--rotateZ)) translateX(var(--translateX)) translateY(var(--translateY)) translateZ(var(--translateZ));
          transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) rotateZ(var(--rotateZ)) translateX(var(--translateX)) translateY(var(--translateY)) translateZ(var(--translateZ));
  position: absolute;
  border: 0.25em solid black;
  border-radius: 0.5em;
  background-color: aqua;
}

main article ol li:nth-of-type(1), main article ol li:nth-of-type(3) {
  height: var(--hoogte);
  width: var(--breedte);
}

main article ol li:nth-of-type(2), main article ol li:nth-of-type(4) {
  height: var(--diepte);
  width: var(--breedte);
}

main article ol li:nth-of-type(5), main article ol li:nth-of-type(6) {
  height: var(--hoogte);
  width: var(--diepte);
}

main article ol li:nth-of-type(1) {
  --rotateX: 0;
  --rotateY: 0;
  --rotateZ: 0;
  --translateX: 0;
  --translateY: 0;
  --translateZ: calc(var(--diepte) / 2);
}

main article ol li:nth-of-type(2) {
  --rotateX: 90deg;
  --rotateY: 0;
  --rotateZ: 0;
  --translateX: 0;
  --translateY: 0;
  --translateZ: calc(var(--diepte) / 2);
}

main article ol li:nth-of-type(3) {
  --rotateX: 0;
  --rotateY: 180deg;
  --rotateZ: 0;
  --translateX: 0;
  --translateY: 0;
  --translateZ: calc(var(--diepte) / 2);
}

main article ol li:nth-of-type(4) {
  --rotateX: -90deg;
  --rotateY: 0;
  --rotateZ: 0;
  --translateX: 0;
  --translateY: 0;
  --translateZ: calc(var(--hoogte) - (var(--diepte) / 2));
}

main article ol li:nth-of-type(5) {
  --rotateX: 0;
  --rotateY: 90deg;
  --rotateZ: 0;
  --translateX: 0;
  --translateY: 0;
  --translateZ: calc(var(--diepte) / -2);
}

main article ol li:nth-of-type(6) {
  --rotateX: 0;
  --rotateY: 90deg;
  --rotateZ: 0;
  --translateX: 0;
  --translateY: 0;
  --translateZ: calc(var(--breedte) - (var(--diepte) / 2));
}
/*# sourceMappingURL=style.css.map */